.command-bar {
    height: 3em;
    width: 100%;
    background-color: transparent;
    position: fixed;
    text-align: center;
    z-index: 1;
}

.content {
    width: 100%;
}

#del {
    background-color: #922;
}

#del:hover {
    background-color: #d22;
    color: white;
}

#killer {
    background-color: #000;
}

#killer:hover {
    background-color: #333;
    color: white;
}

#miss {
    background-color: #292;
}

#miss:hover {
    background-color: #2d2;
    color: white;
}

.command {
    width: 5em;
    display: inline-block;
    line-height: 1.5em;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 0.5em;
    color: #ddd
}

.killer .container {
    border: 6px solid black;
}

.killed .container {
    background-color: rgba(60, 60, 60, 0.3);
}

.killed input,
.killed select,
.killed .number span,
.killed .name span {
    text-decoration: line-through;
}

.player {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 1.5%;
    margin: 1% 0;
    width: 33%;
    height: 200px;
}

.current {
    background-color: rgba(242, 255, 0, 0.44);  
    padding: 0;
}

.current .number {
    background-image: url('images/target_25.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 15% center;
}

.current.killer .number {
    background-image: none;
}

.container {
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
}

.throws {
    width: 15%;
    height: 100%;
    float: left;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.throw {
    height: 33%;
    display: none;
    text-align: center;
    background-image: url('images/dart.png');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.current .throw.dart {
    display: block;
}

.name {
    width: 85%;
    float: right;
    box-sizing: border-box;
}

.name input {
    width: 99%;
    text-align: center;
    font-size: 1em;
    width: 100%;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

.name span {
    display: none;
}

.number {
    width: 85%;
    position: absolute;
    right: 0;
    top: 30%;
    text-align: center;
}

.number select {
    font-size: 2em;
    background-color: transparent;
    border: none;
}

.number span {
    display: none;
}

.lifes {
    width: 85%;
    position: absolute;
    right: 0;
    bottom: 1%;
    text-align: center;
    box-sizing: border-box;
}
.life {
    width: 1em;
    margin: 0 0.1em;
    display: inline-block;
    background-image: url('images/life.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.target {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('images/target_25.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer

}

.target.active {
    display: block;
}

.target.active:hover {
    /* background-color: rgba(255, 0, 0, 0.2); */
    background-image: url('images/target.png');
}

.killed .target.active {
    display: none;
}



.recieved-from-server .name input {
    display: none;
}

.recieved-from-server .name span {
    display: block;
    text-align: center;
    padding-top: 0.2em;
    font-size: 1.3em;
}

.recieved-from-server .number select {
    display: none;
}

.recieved-from-server .number span {
    display: block;
    text-align: center;
    font-size: 2.5em;
}

.recieved-from-server .throw.dart{
    display: block;
}

@media (min-width: 1301px) {
    .players .player {
        height: 230px;
        font-size: 1.8em;
    }
}

@media (max-width: 1300px) {
    .players .player {
        height: 220px;
        font-size: 1.5em;
    }
}

@media (max-width: 1024px) {
    .players .player {
        width: 33%;
        height: 160px;
        font-size: 1.3em;
    }
}

@media (max-width: 720px) {
    .command-bar {
        font-size: 10px;
    }

    .players .player {
        width: 33%;
        height: 150px;
        font-size: 1.2em;
    }
}

@media (max-width: 640px) {
    .players .player {
        height: 130px;
        font-size: 1.1em;
    }
}

@media (max-width: 420px) {
    .command-bar {
        font-size: 8px;
    }

    .players .player {
        width: 50%;
        height: 100px;
        font-size: 1em;
    }
}