body {
    font-size: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: verdana, arial, sans-serif;
    background-image: url('bgr.jpg');
    background-repeat: repeat;
    color: black;
}

.header {
    background-image: none !important;
}

.rounds {
    text-align: center;
    font-size: 2em;
    line-height: 2.1em;
}

.menu-toggle,
.name input {
    display: none;
}

.players {
    width: 100%;
    height: 768px;
}

.players .container {
    height: 100%;
}

.players .player {
    width: 33%;
    height: 33%;
    padding: 2% 1%;
    display: inline-block;
    max-height: 350px;
    box-sizing: border-box;
    float: left;
    color: #484848;
}

.player .container {
    border: 1px solid #666;
    background-color: rgba(10, 9, 33, 0.16);
}   

.player.current {
    padding: 0;
    font-size: 1.1em;
    color: black;
}

.player.current .container {
    background-color: rgba(242, 255, 0, 0.44);
}

.player.winner .container {
    background-color: rgb(111, 0, 0);
    color: white;
}

.player.winner .nullify {
    background-color: transparent;
}

.throws {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 25%;

}

.name {
    font-size: 2em;
    text-align: center;
    height: 30%;
    width: 75%;
    float: right;
}

.scores-container {
    height: 70%;
    width: 75%;
    float: right;
    position: relative;
}

.scores {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.remaining {
    position: absolute;
    left: 5%;
    bottom: 2%;
    font-size: 1.5em;
}

.nullify {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.5em;
    padding: 2% 4%;
    background-color: rgba(242, 255, 0, 0.44);
    color: black;
}

.throw {
    box-sizing: border-box;
    height: 33%;
    padding-top: 14%;
    text-align: center;
    border-top: 1px solid black;
    font-size: 1.5em;
}

.throw:first-child {
    border-top: none;
}


#scoresId {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 3px;
    margin: 0 0.3em 0 0.1em;
    font-size: 1.5em;
    width: 5em;
    text-align: center;
    letter-spacing: 0.16em;
}

.err-msg {
    color: #a00;
}


@media (max-width: 1280px) {
    body {
        font-size: 15px;
    }

    .players {
        height: 600px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 9px;
    }

    .players {
        height: 320px;
    }
}

@media (max-width: 420px) {
    body {
        font-size: 8px;
    }
    .players {
        height: 420px;
    }

    .players .player {
        width: 50%;
        height: 20%;
    }
}